{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container row justify-content-center">
        <div class="card col-6 m-3 p-3 row rounded-4">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if appuser.profile_picture %}
                        <img src="{{ appuser.profile_picture }}" class="img-fluid rounded-circle" alt="prof-pic">
                    {% else %}
                        <img src="{% static 'images/profile-pic.jpg' %}" class="img-fluid rounded-circle"
                             alt="prof-pic">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title fw-bold">Profile Details</h4>
                        <div class="fields my-4">
                            <p class="card-text"><b>Username:</b> {{ appuser.username }}</p>
                            <p class="card-text"><b>Email:</b> {{ appuser.email }}</p>
                        </div>
                        {% if appuser.id == request.user.id %}
                            <a href="{% url 'user update' request.user.id %}" class="btn btn-warning">Edit</a>
                            <a href="{% url 'user delete' request.user.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}