{% extends 'base.html' %}
{% block content %}
    <div class="container row justify-content-center">

        <div class="card col-lg-3 col-10 mt-3 p-3">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete {{ object }}?</p>
                <button type="submit" class="btn btn-danger">Confirm Delete</button>
                {% if pet_type == 'dog' %}
                    <a href="{% url 'dogs-details' object.pk %}" class="btn">
                {% elif pet_type == 'cat' %}
                    <a href="{% url 'cats-details' object.pk %}" class="btn">
                {% endif %}
                Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}