{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}
    <div class="container row justify-content-center g-2">
        {% if request.user.is_staff %}
            <div class="register-buttons row justify-content-center mt-2">
                {% if pet_type == 'cat' %}
                    <a class="btn btn-warning w-auto" href="{% url 'cats-register' %}">Register Cat</a>
                {% elif pet_type == 'dog' %}
                    <a class="btn btn-warning w-auto" href="{% url 'dogs-register' %}">Register Dog</a>
                {% endif %}
            </div>
        {% endif %}
        {% for pet in object_list %}

            <div class="col-lg-4 col-12 card m-2">
                <div class="m-1 p-3 text-center">
                    <div class="pet-pic overflow-hidden text-center">

                        {% if pet_type == 'cat' %}
                            <a href="{% url 'cats-details' pet.pk %}">
                        {% elif pet_type == 'dog' %}
                            <a href="{% url 'dogs-details' pet.pk %}">
                        {% endif %}
                        {% cloudinary pet.pet_picture.url quality='auto' height=300 crop='fill' alt='pet-pic' %}
                        </a>
                    </div>

                    <p>{{ pet.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}