{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}
    <div class="searchbar row justify-content-center mt-2">
        <form class="row col-lg-4 col-8 align-items-center">
            <div class="searchbar-form col-8 m-0 p-0 me-2">
                {{ search_bar.pet }}
            </div>
            <button class="col btn btn-warning d-inline w-auto flex-grow-0">Search</button>
        </form>
    </div>
    {% if request.user.is_staff %}
        <div class="post-create-btn row justify-content-center">
            <a href="{% url 'photo-create' %}" class="btn btn-success w-auto my-4">Upload photo</a>
        </div>
    {% endif %}
    <div class="gallery m-4">
        <div class="container row justify-content-start g-2">
            {% for photo in photos %}
                <div class="text-center col">
                    {% cloudinary photo.photo.url quality='auto' height=400 crop='fill' alt='profile-pic' %}
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}