main img {
    min-width: 200px;
}

main {
    background-color: #F6F7C4;
}

footer {
    background-color: #1F4529;
}

.pet-pic {
    height: 300px;
    width: 350px;
}

.profile-picture {
    height: 200px;
    width: 200px;
}