{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}

    {% if request.user.is_authenticated %}
        <div class="post-create-btn row justify-content-center">
            <a href="{% url 'post-create' %}" class="btn btn-success w-auto my-4">Create post</a>
        </div>
    {% endif %}

    <div class="container row justify-content-center gx-4">
        {% for post in object_list %}

            <div class="col-6 row justify-content-center mb-4">
                <a href="{% url 'post-detail' post.pk %}" class="text-decoration-none">
                    <div class="card p-3 rounded-4 row g-2">
                        <h5><b>{{ post.title }}</b></h5>
                        <p>{{ post.content|truncatechars:50 }}</p>
                    </div>
                </a>
            </div>

        {% endfor %}
    </div>
{% endblock %}